* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

:root {
  --primaryColor: rgb(0, 140, 255);
  --secondaryColor: rgb(0, 120, 218);
  --width: 100vw;
  --height: 100vh;
}

/* .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
} */

a.nav-link {
  font-size: 2rem;
  margin-right: 2rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 3rem;
}

.navbar-brand__customeColor {
  color: var(--primaryColor);
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}
.signup {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.signup__container {
  width: calc(var(--width - 40vw));
  height: calc(var(--height) - 25vh);
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.1),
    0rem 0rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s linear 0s;
}

.signup-content {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

.signup-content .form-tittle {
  font-weight: bold;
  margin-bottom: 2rem;
}

.signup-form {
  flex: 1 1 20rem;
  padding: 3rem;
}

h2.form-tittle {
  font-size: 3rem;
}

.signup-form .form-group {
  border-bottom: 0.1rem solid rgba(126, 125, 125, 0.274);
}

.signup-form .form-button {
  border-bottom: none;
  outline: none;
}

.form-button input[type="button"] {
  border-radius: 0.7rem;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

a.singup-image-link {
  color: var(--primaryColor);
  font-weight: 500;
}

label {
  font-size: 2rem;
  margin-right: 1rem;
}

.signup-content input {
  border: none;
  width: 25rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  font-size: 1.6rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.signup-image {
  max-width: 45rem;
  width: 45rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.signup-image img {
  width: 45rem;
  object-fit: cover;
  padding: 2rem;
  border-radius: 3rem;
}
a.singup-image-link {
  text-align: center;
  font-size: 2rem;
}

.login_form {
  padding: 5rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.reverse_login {
  flex-direction: row-reverse;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

/* for responsive */

@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .signup {
    height: auto;
  }
  .signup__container {
    margin-top: -15%;
    width: calc(var(--width) - 20vw);
    height: auto;
  }
  .signup-content {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 998px) {
  html {
    font-size: 55%;
  }
  .signup {
    height: auto;
  }
  .signup__container {
    margin-top: 10%;
  }
  .login__container {
    margin-top: 5%;
  }
}

/* HomePage - styling */
.main_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(190, 225, 241) 50%, #fff 50%);
}

.main_container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_container .content p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primaryColor);
  letter-spacing: 0.3rem;
  text-align: center;
}

.main_container .content h1 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

/* Error page styling */

#notfound {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error__container {
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}

.error__container .notfound_404 h1 {
  font-size: 30rem;
  color: rgba(128, 128, 128, 0.13);
  transform: translateY(-10%);
}

.error__container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}

.error__container .content h2 {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}
.error__container .content p {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.error__container .content a.__btn {
  color: #fff;
  background-color: var(--primaryColor);
  padding: 1rem 6rem;
  border-radius: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.error__container .content a.__btn:hover {
  background-color: var(--secondaryColor);
}


/* contact page styles */
.contact_info_item{
  margin-top: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80px;
  border: 2px solid rgb(214, 212, 212);
  padding: 20px 5px;
  border-radius: 10px;
}

.contact_form{
 margin-top: 25px;

}

.contact_form_container{
  padding: 40px;
  border-radius: 10px;
}

.contact_form_container .contact_form_title{
  font-size: 2.5rem;
}

.input_field{
  outline: none;
  border-radius: 10px;
  border: none;
  width: 30.333%;
  padding: 12px 10px;
  font-size: 1.4rem;
  box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.2);
}

.textarea_field{
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  font-size: 1.4rem;
  outline: none;
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.2);
}

.submitBtn{
  width: 150px;
  padding: 10px 12px;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: bold;
}